body {
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.text-primary {

    color: #FD6E0A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

/* Immediate children of nav will be flex items */
.nav-title {
    color: var(--Dark-01, #181818);

    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius:5px;
    background: #FD6E0A;
    font-size: 20px;
    border: 0;
color: white;
font-weight: 700;
padding: 15px 3fpx;
}
.banner{
    padding: 50px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-content{
    max-width: 500px;
}
.banner-title{
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}
/* main section style */
.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 156px;
    margin: 130px 0;
}
.section-title{
    color: #181818;
text-align: center;

font-size: 35px;
font-style: normal;
font-weight: 700;

}
main section{
    margin-top: 130px;
}
.section-description{
    color:  #757575;
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;

}
main{
    max-width: 1140px;
    margin: auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.about-info{
    text-align: center;
}
/* skils related style */
#what-i-do{
    padding: 30px 150px;
}
.section-descriotion{
    text-align: center;
  
color: #757575;
padding-bottom: 50px;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
.skills-container{
    display: flex;
    gap:24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
background: #FFF;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.skill-description{
    color:  #757575;

font-size: 16px;
font-style: normal;
font-weight: 400;

}
/* resume style */
.resume-column-title{
    color:#474747;

font-size: 30px;

font-weight: 700;

}
.resume-container{
    display: flex;
 gap: 70px;
   
}.resume-item-explanation{
    color:  #757575;

font-size: 16px;
font-style: normal;
font-weight: 400;

}
.resume-item-title{
    color:  #474747;
 
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-description{
    color: #757575;

font-size: 20px;
font-style: normal;
font-weight: 600;
margin-bottom: 20px;
margin-top: 0;

}
.resume-container hr{
    margin: 30px;
}
.download-cv{
text-align:  center;
margin: 50px 0;

}
.download-cv button{
    padding: 17px;
}