body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {

    color: #FD6E0A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Immediate children of nav will be flex items */
.nav-title {
    color: var(--Dark-01, #181818);

    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius:5px;
    background: #FD6E0A;
    font-size: 20px;
    border: 0;
color: white;
font-weight: 700;
padding: 15px 3fpx;
}